<% content_for :title, "Navigation" %>

<div class="top-level-container">
  <h1 class="hide@native margin-bs-xl text-large-title">Navigation</h1>
  <p>This demo app will help you get acquainted with Hotwire Native.</p>

  <div class="formatted-list formatted-list--top-level">
    <%= render "navigations/item",
      path: navigation_path,
      icon: "arrow-right-bold",
      name: "Basic navigation",
      description: "Push a screen on the stack." %>

    <%= render "navigations/item",
      path: new_modal_path,
      icon: "arrow-up-bold",
      name: "Modal navigation",
      description: "Present a modal screen." %>

    <%= render "navigations/item",
      path: slow_navigation_path,
      icon: "hourglass-bold",
      name: "Slow-loading page",
      description: "See the loading indicator in action." %>

    <%= render "navigations/item",
      path: "/not_found",
      icon: "bug-bold",
      name: "Error handling",
      description: "Visit a page that does not exist (404)." %>
  </div>

  <h3 class="margin-bs-xl margin-be-l text-title">Advanced Navigation</h3>

  <div class="formatted-list formatted-list--top-level">
    <%= render "navigations/item",
      path: protected_path,
      icon: "xmark",
      name: "Authentication",
      description: "Visit a protected endpoint." %>

    <%= render "navigations/item",
      path: numbers_path,
      icon: "smartphone-bold",
      name: "Native screen",
      description: "Intercept with a native view." %>

    <%= render "navigations/item",
      path: redirect_navigation_path,
      icon: "arrow-up-right-bold",
      name: "Redirect",
      description: "Follow an internal redirect." %>
  </div>

  <h3 class="margin-bs-xl margin-be-l text-title">External Navigation</h3>

  <div class="formatted-list formatted-list--top-level">
    <%= render "navigations/item",
      path: docs_url,
      icon: "external-link-bold",
      name: "External link",
      description: "Visit a page with a different host." %>

    <%= render "navigations/item",
      path: external_redirect_path,
      icon: "arrow-up-right-bold",
      name: "External redirect",
      description: "Follow an external redirect." %>

    <%= render "navigations/item",
      path: "sms:555-555-5555",
      icon: "speech-bubble-bold",
      name: "<code>sms:</code> URLs".html_safe,
      description: "Handle non-http(s) URLs natively." %>
  </div>
</div>
